---
import Layout from "@/layouts/Layout.astro";

import Greetings from "@/components/Greetings.astro";
import AnalysisButton from "@/components/AnalysisButton.astro";
import LogInButton from "@/components/LogInButton.astro";
import Storyline from "@/components/react/Storyline";

import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request);
---

<Layout 
  title="SpotiEmotions"
  description="SpotiEmotions transforma tus canciones más escuchadas en Spotify en resúmenes emocionales usando IA. Descubre tus emociones, artistas y géneros favoritos de manera sencilla."
>
  {
    session && (
      <Greetings>
        <Fragment slot="before_title">{session.user.name}</Fragment>
      </Greetings>
    )
  }

  <section class="flex flex-1 flex-col items-center justify-center">
    {
      !session ? (
        <LogInButton />
      ) : (
          <AnalysisButton user={session.user} />
          <Storyline user={session.user} client:only="react" />
      )
    }
  </section>
</Layout>
