---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<button 
		class="w-full text-sm md:text-base bg-white"
		id="login"
	>
		<span class="inline-block skew-x-[21deg]">¡Inicia sesión para participar!</span>	
	</button>
</Layout>
<script>
	import { $ } from "../lib/dom-selector"

	console.log("Página cargada")
	const $login = $("#login")
	if ($login) {
		$login.onclick = () => {
			console.log("Iniciando sesión...");
			const width = 600
			const height = 700
			const left = window.innerWidth / 2 - width / 2
			const top = window.innerHeight / 2 - height / 2

			window.open(
				"/auth/spotify",
				"Spotify Login",
				`toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=${width}, height=${height}, top=${top}, left=${left}`
			)

			$login.setAttribute("aria-disabled", "true")
			const $span = $login.querySelector("span")

			if ($span) $span.innerText = "Iniciando sesión..."
			// Añade un temporizador que restablezca el botón después de 3 segundos
			setTimeout(() => {
				$login.removeAttribute("aria-disabled")
				if ($span) $span.innerText = "¡Inicia sesión para participar!"
			}, 3000)
		}
	}
</script>
<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
