---
import Layout from "@/layouts/Layout.astro";

import Greetings from "@/components/Greetings.astro";
import AnalysisButton from "@/components/AnalysisButton.astro";
import LogInButton from "@/components/LogInButton.astro";
import Storyline from "@/components/react/Storyline";
import Footer from "@/components/Footer.astro";

import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request);
---

<Layout title="SpotiEmotions">
  <section class="flex flex-col items-center justify-between h-full">
    {
      !session ? (
        <LogInButton />
      ) : (
          <Greetings>
            <Fragment slot="before_title">{session.user.name}</Fragment>
          </Greetings>
          <AnalysisButton class={"mt-6"} user={session.user} />
          <Storyline user={session.user} client:only="react" />
          <Footer />
      )
    }
  </section>
</Layout>
