---
import Layout from "../layouts/Layout.astro";

import Title from "../components/Title.astro";
import Greetings from "components/Greetings.astro";
import AnalysisButton from "../components/AnalysisButton.astro";
import LogInButton from "../components/LogInButton.astro";
import LogoutButton from "components/LogoutButton.astro";
import Footer from "../components/Footer.astro";
import Storyline from "../components/react/Storyline";

import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request);
---

<Layout title="SpotiEmotions">
  <section class="flex flex-col justify-between items-center h-screen py-10">
    <!-- Title -->
    <Title text="Spoti">
      <Fragment slot="after_title">Emotions</Fragment>
    </Title>

    <!-- Analysis button or login button -->
    {!session ? <LogInButton /> : (
      <Greetings>
        <Fragment slot="before_title">{session.user.name}</Fragment>
      </Greetings>
      <AnalysisButton user={session.user} />
      <LogoutButton />
    )}

    <Storyline client:only/>

    <!-- Footer -->
    <Footer />
  </section>
</Layout>
