---
import Layout from "@/layouts/Layout.astro";

import Greetings from "@/components/Greetings.astro";
import AnalysisButton from "@/components/AnalysisButton.astro";
import LogInButton from "@/components/LogInButton.astro";
import Footer from "@/components/Footer.astro";
import Storyline from "@/components/react/Storyline";

import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request);

---

<Layout title="SpotiEmotions">

  <section class="flex flex-col justify-between items-center h-screen py-10">
    <!-- Analysis button or login button -->
    {!session ? <LogInButton /> : (
      <Greetings>
        <Fragment slot="before_title">{session.user.name}</Fragment>
      </Greetings>
      <AnalysisButton user={session.user} />
     
    )}

    <Storyline client:only="react"/>

    <!-- Footer -->
    <Footer />
  </section>
</Layout>
