---
import Layout from "@/layouts/Layout.astro";

import Greetings from "@/components/Greetings.astro";
import AnalysisButton from "@/components/AnalysisButton.astro";
import LogInButton from "@/components/LogInButton.astro";
import Storyline from "@/components/react/Storyline";

import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request);
---

<Layout title="SpotiEmotions">
  <section class="flex flex-col mt-5 items-center h-full">
    {
      !session ? (
        <LogInButton />
      ) : (
        <>
          <Greetings>
            <Fragment slot="before_title">{session.user.name}</Fragment>
          </Greetings>
          <AnalysisButton class={"mt-6"} user={session.user} />
        </>
      )
    }

    <div>
      <Storyline client:only="react" />
    </div>
  </section>
</Layout>
