---
import { Image } from "astro:assets";
import Logout from "@/icons/Logout.astro";

interface Props {
  image: string;
  username: string;
}

let { image, username } = Astro.props as Props;

if (!image) {
  image = "/images/default-avatar.webp";
}
---

<button
  id="dropdownDefaultButton"
  data-dropdown-toggle="dropdown"
  class="text-white rounded-full bg-secondary hover:bg-green-950 focus:outline-none font-medium text-sm px-5 py-2.5 text-center inline-flex items-center gap-2 md:gap-4"
  type="button"
>
  <Image
    src={image}
    alt="Imagen de perfil"
    width={40}
    height={40}
    class="w-8 h-8 rounded-full bg-none"
  />
  <span class="hidden md:inline">{username}</span>
  <svg
    class="w-2.5 h-2.5 ms-3"
    aria-hidden="true"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 10 6"
  >
    <path
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="m1 1 4 4 4-4"></path>
  </svg>
</button>

<!-- Dropdown menu -->
<div
  id="dropdown"
  class="z-10 hidden bg-secondary divide-y divide-bg-gray-800 rounded-lg shadow w-44"
>
  <ul
    class="py-2 text-sm text-primary"
    aria-labelledby="dropdownDefaultButton"
  >
    <li>
      <button
        id="logout"
        class="w-full px-4 py-2 text-white hover:text-gray-300 flex items-center"
      >
        <Logout class:list={"mr-2 w-6"} />
        Cerrar Sesión
      </button>
    </li>
  </ul>
</div>

<script>
  import { $ } from "@/lib/dom-selector";

  const { signOut } = await import("auth-astro/client");

  const $logout = $("#logout");

  if ($logout) {
    $logout.onclick = async () => {
      await signOut();
    };
  }
</script>
