---
import Logout from "@/icons/Logout.astro";
---

<button
  class="flex items-center w-auto p-3 rounded-md bg-secondary border border-red-700 text-red-700 hover:bg-red-700 hover:text-secondary transition duration-300 ease-in-out"
  id="logout"
>
  <Logout class:list={"w-8 h-8 mr-2"} />

  <span>Cerrar sesión</span>
</button>

<script>
  import { $ } from "@/lib/dom-selector";

  const { signOut } = await import("auth-astro/client");

  const $logout = $("#logout");

  if ($logout) {
    $logout.onclick = async () => {
      await signOut();
    };
  }
</script>
