---
interface Props {
  text: string;
}

const { text } = Astro.props as Props;
---

<h1 class="text-[2.5rem] leading-none text-center font-bold text-white">
  <span class="text-gradient"><slot name="before_title" /></span>

  {text}

  <span class="text-gradient"><slot name="after_title" /></span>
</h1>
