---
import LogoutButton from "@/components/LogoutButton.astro";
import { getSession } from "auth-astro/server";
import Title from "@/components/Title.astro";
import Footer from "@/components/Footer.astro";

const session = await getSession(Astro.request);
let image = null;
let name = null;
if (session) {
  image = session.user.image;
  name = session.user.name;
}

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="flex flex-col min-h-screen space-y-6">
      <header class="flex items-center justify-between p-4 text-white">
        <div class="flex-1"></div>
        <div class="flex-1 text-center">
          <Title text="Spoti">
            <Fragment slot="after_title">Emotions</Fragment>
          </Title>
        </div>
        <div class="flex-1 flex justify-end">
          {session ? <LogoutButton image={image ?? null} username={name} /> : ""}
        </div>
      </header>

      <slot />

      <Footer />
    </div>
  </body>

  <script
    is:inline
    src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"
  ></script>
</html>
<style is:global>
  :root {
    --accent: 14, 103, 53;
    --accent-light: 29, 154, 84;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }

  html {
    font-family: "CircularStd", system-ui, sans-serif;
    background-color: #121212;
    background-image: url("/images/background/basic.svg");
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }

  @font-face {
    font-family: "CircularStd";
    src: url("/fonts/CircularStd-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "CircularStd";
    src: url("/fonts/CircularStd-Book.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "CircularStd";
    src: url("/fonts/CircularStd-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "CircularStd";
    src: url("/fonts/CircularStd-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "CircularStd";
    src: url("/fonts/CircularStd-Black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  @keyframes loading {
    0% {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(1);
    }
  }

  .indicator {
    list-style: none;
    margin-top: -1px;
    margin-bottom: 0;
    padding-left: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .indicator-item {
    position: relative;
    flex: 1 0 auto;
    height: 2px;
    margin-left: 5px;
    background-color: rgba(255, 255, 255, 0.3);
    overflow: hidden;
  }

  .indicator-bar {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    will-change: transform;
    transform: scaleX(0);
    transform-origin: left center;
  }

  .item-loading > .indicator-bar {
    animation: loading 3s linear forwards;
  }

  .item-loaded > .indicator-bar {
    transform: scaleX(1);
  }

  #storyline {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
</style>
